extends ../_skeleton

//-Includes
include ../components/card-classic
block variables
	- pageName = 'Services'

block page
	include ../sections/_header-classic

	+breadcrumbs
	//Tours
	include ../sections/_tours-type

	//Tour Sale
	include ../sections/_tour-sale

	//Footer
	include ../sections/_footer-classic
