/** @section Text styling */

// Text styles
.text-italic {
	font-style: italic;
}

.text-normal {
	font-style: normal;
}

// Text decoration
.text-underline {
	text-decoration: underline;
}

.text-strike {
	text-decoration: line-through;
}

.text-transform-none{
	text-transform: none;
}

// Text weight
.fw-thin {
	font-weight: 100;
}

.fw-light {
	font-weight: 300;
}

.fw-regular {
	font-weight: 400;
}

.fw-medium {
	font-weight: 500;
}

.fw-sbold {
	font-weight: 600;
}

.fw-bold {
	font-weight: 700;
}

.fw-ubold {
	font-weight: 900;
}
//Text Family
.font-secondary{
	font-family: $font-family-sec;
}
//Text size
.font-lg{
	@include media-breakpoint-up(xl) {
		font-size: 26px;
	}
}


// Text spacing
.text-spacing-0 {
	letter-spacing: 0;
}

.text-primary {
	color: $primary !important;
}

.text-red{
	color: $accent-red;
}
.text-dark-gray{
	color: $dark-gray;
}

.heading-4.text-xl{
	@include media-breakpoint-up(xl) {
		font-size: 26px;
	}
}

.text-sm{
  font-size: 16px !important;
}