/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "DeadStock";
  src: url("../fonts/DeadStock-Demo.eot"); /* IE9 Compat Modes */
  src: url("../fonts/DeadStock-Demo.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/DeadStock-Demo.otf") format("opentype"), /* Open Type Font */
  url("../fonts/DeadStock-Demo.svg") format("svg"), /* Legacy iOS */
  url("../fonts/DeadStock-Demo.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/DeadStock-Demo.woff") format("woff"), /* Modern Browsers */
  url("../fonts/DeadStock-Demo.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}