section.section.section-custom-1.bg-image-1
	.container
		.row.row-30
			.col-xl-5.position-relative
				h2
					span.wow.fadeInLeft.d-xl-block Explore a different
					span.wow.fadeInLeft.d-xl-block(data-wow-delay=".2s") way to travel
				p.wow.fadeInLeft.offset-xl(data-wow-delay=".3s") Discover new cultures and have a wonderful rest with Backpack Story! Select the country you’d like to visit and provide our agents with estimated time – they’ll find and offer the most suitable tours and hotels.
				p.wow.fadeInLeft(data-wow-delay=".4s") During our work, we organized countless journeys for our clients. We started as a small tour bureau, and soon we expanded our offers list. Today we have valuable experience travelling and we can advise the most stunning resorts, cities and countries to visit!
				.offset-top-25.wow.fadeInUp(data-wow-delay=".5s")
					+img('signature-1-113x66.png')
			.col-xl-7.position-relative
				.image-box.inset-xl-1.wow.fadeInUp
					.image-box__static
						+img('img-2-home-364x459')
					.image-box__float
						+img('img-1-home-364x459')

