section.section.section-md.bg-default
	.container
		.row.row-30
			.col-lg-4.wow.fadeInUp(data-wow-delay=".2s")
				h2: a(href="#") 01. best Hotels
				p.offset-xl We guarantee the best hotels and very comfortable rooms, which will be appreciated by every traveller. You will be absolutely happy with the hotel and will have a wonderful vacation there.
			.col-lg-4.wow.fadeInUp(data-wow-delay=".3s")
				h2: a(href="#") 02. Tourist Guide
				p.offset-xl We provide our clients with such a service as Tourist Guide. Its main goal is to ensure people with all necessary information any time it's needed. This service is similar to Customer Support with emphasis on travelling.
			.col-lg-4.wow.fadeInUp(data-wow-delay=".4s")
				h2: a(href="#") 03. Flights Tickets
				p.offset-xl You can book tickets on any plane online via our booking system. Here you have an opportunity to select your transport operator. Our representatives will help you with the details.


