section.section.section-lg
	.container
		h2.text-center.text-md-start Our blog posts
		.row.row-30
			.col-lg-4.col-md-6
				+post-classic({
					image: 'blog-post-1-370x264.jpg',
					date: 'January 1, 2024',
					title: '5 PLACES TO VISIT THIS WINTER',
					text: 'New Year and Christmas holidays is a great occasion to travel somewhere. You can either go somewhere with you family or friends, or even alone....'
				})
			.col-lg-4.col-md-6
				+post-classic({
					image: 'blog-post-2-370x264.jpg',
					date: 'January 1, 2024',
					title: 'Budget Trips for Winter Break',
					text: 'Budget trip doesn’t mean boring! There are numerous places worth visiting even if you don’t have much money. The golden sands of Florida and California...'
				})
			.col-lg-4.col-md-6
				+post-classic({
					image: 'blog-post-3-370x264.jpg',
					date: 'January 1, 2024',
					title: 'Walking to Machu Picchu, Peru',
					text: 'Machu Picchu is mysterious and attractive place for all tourists visiting Peru. If you agree to take this path you need to know more information...'
				})



