section.section.section-lg.bg-image-7
	.container
		.row
			.col-12.column-bg-3.wow.fadeInUp
				.row.row-30.text-center
					.col-lg-2.col-md-3.col-sm-4.col-6
						a(href="#")
							+img('brand-1.png').brand-img
					.col-lg-2.col-md-3.col-sm-4.col-6
						a(href="#")
							+img('brand-2.png').brand-img
					.col-lg-2.col-md-3.col-sm-4.col-6
						a(href="#")
							+img('brand-3.png').brand-img
					.col-lg-2.col-md-3.col-sm-4.col-6
						a(href="#")
							+img('brand-4.png').brand-img
					.col-lg-2.col-md-3.col-sm-4.col-6
						a(href="#")
							+img('brand-5.png').brand-img
					.col-lg-2.col-md-3.col-sm-4.col-6
						a(href="#")
							+img('brand-6.png').brand-img
					.col-lg-2.col-md-3.col-sm-4.col-6
						a(href="#")
							+img('brand-5.png').brand-img
					.col-lg-2.col-md-3.col-sm-4.col-6
						a(href="#")
							+img('brand-10.png').brand-img
					.col-lg-2.col-md-3.col-sm-4.col-6
						a(href="#")
							+img('brand-9.png').brand-img
					.col-lg-2.col-md-3.col-sm-4.col-6
						a(href="#")
							+img('brand-8.png').brand-img
					.col-lg-2.col-md-3.col-sm-4.col-6
						a(href="#")
							+img('brand-7.png').brand-img
					.col-lg-2.col-md-3.col-sm-4.col-6
						a(href="#")
							+img('brand-4.png').brand-img

