section.section.bg-image-2.section-lg
	.container
		.row.row-30.flex-column-reverse.flex-lg-row
			.col-lg-4.d-flex.flex-column.justify-content-lg-center.justify-content-xl-end.wow.fadeInLeft.z-index.align-items-center
				a.floating-video-box(href="https://www.youtube.com/watch?v=7dTve2Hsl_0" data-lightgallery="item")
					+img('video-overlay-370x288')
					span.icon.fa.fa-play
			.col-lg-8.column-bg-1
				.quote-classic-wrap
					.heading-4.wow.fadeInUp At Backpack Story, we personally plan and create all our tours to offer flexibility and unique impressions that you won't get anywhere else. Moreover, each tour is tailor-made for our customers to provide the experience they are looking for.
					p.fst-italicwow.fadeInUp(data-wow-delay=".2s") John Wilson, Agency director
