section.section.section-lg.bg-default
	.container
		h2.text-center.text-md-start Explore Top Destination
		.row.row-40.offset-lg.row-xl-40
			.col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay=".1s")
				+box-creative({
					img: 'tour-1-370x284',
					title: 'French Autumn',
					price: '1625.00',
					oldPrice: '1925.00',
					text: 'Calceuss studere in infernum! Cum cedrium potus, omnes tumultumquees gratia fatalis, domesticus!',
					link: 'single-tour.html',
					lists: [
						{icon: 'linearicons-platter', text: 'Meal'},
						{icon: 'linearicons-clock3', text: '5 Days'},
						{icon: 'linearicons-plane', text: 'Flight'}
					]
				})


			.col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay=".2s")
				+box-creative({
					img: 'tour-2-370x284',
					title: 'Grand Switzerland',
					price: '2835.00',
					oldPrice: '2945.00',
					text: 'Gabalium pius quadra est. Teres, altus triticums mechanice resuscitabo de clemens, gratis byssus!',
					link: 'single-tour.html',
					lists: [
						{icon: 'linearicons-platter', text: 'Meal'},
						{icon: 'linearicons-clock3', text: '5 Days'},
						{icon: 'linearicons-plane', text: 'Flight'}
					]
				})


			.col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay=".3s")
				+box-creative({
					img: 'tour-3-370x284',
					title: 'Prague Trip',
					price: '1315.00',
					oldPrice: '1565.00',
					text: 'Aonidess observare in cella! Talis, nobilis liberis foris tractare de bi-color, clemens turpis!',
					link: 'single-tour.html',
					lists: [
						{icon: 'linearicons-platter', text: 'Meal'},
						{icon: 'linearicons-clock3', text: '5 Days'},
						{icon: 'linearicons-plane', text: 'Flight'}
					]
				})


			.col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay=".4s")
				+box-creative({
					img: 'tour-4-370x284',
					title: ' Phi-phi Trip',
					price: '1625.00',
					oldPrice: '1925.00',
					text: 'Cur capio mori? Lactas assimilant in bassus antenna! Olla de ferox lapsus, transferre zelus!',
					link: 'single-tour.html',
					lists: [
						{icon: 'linearicons-platter', text: 'Meal'},
						{icon: 'linearicons-clock3', text: '5 Days'},
						{icon: 'linearicons-plane', text: 'Flight'}
					]
				})


			.col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay=".5s")
				+box-creative({
					img: 'tour-5-370x284',
					title: 'Rome Trip',
					price: '1700.00',
					oldPrice: '2000.00',
					text: 'Fidelis abactus solite perderes fermium est. Castus, azureus caniss vix reperire de placidus, fatalis gluten!',
					link: 'single-tour.html',
					lists: [
						{icon: 'linearicons-platter', text: 'Meal'},
						{icon: 'linearicons-clock3', text: '5 Days'},
						{icon: 'linearicons-plane', text: 'Flight'}
					]
				})


			.col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay=".6s")
				+box-creative({
					img: 'tour-6-370x284',
					title: 'Prague Trip',
					price: '1435.00',
					oldPrice: '1585.00',
					text: 'Dexter zetas ducunt ad gallus. Ferox, emeritis caculas vix anhelare de dexter, velox decor!',
					link: 'single-tour.html',
					lists: [
						{icon: 'linearicons-platter', text: 'Meal'},
						{icon: 'linearicons-clock3', text: '5 Days'},
						{icon: 'linearicons-plane', text: 'Flight'}
					]
				})


			.col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay=".7s")
				+box-creative({
					img: 'tour-7-370x284',
					title: 'Magnificent Italy',
					price: '1200.00',
					oldPrice: '1450.00',
					text: 'Ubi est ferox fortis? Cum gluten trabem, omnes ionicis tormentoes manifestum secundus, clemens idoleumes!',
					link: 'single-tour.html',
					lists: [
						{icon: 'linearicons-platter', text: 'Meal'},
						{icon: 'linearicons-clock3', text: '5 Days'},
						{icon: 'linearicons-plane', text: 'Flight'}
					]
				})


			.col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay=".8s")
				+box-creative({
					img: 'tour-8-370x284',
					title: 'Bora-Bora',
					price: '2650.00',
					oldPrice: '2900.00',
					text: 'Grandis, emeritis lubas recte manifestum de azureus, fortis nutrix. Messis semper ducunt ad nobilis absolutio!',
					link: 'single-tour.html',
					lists: [
						{icon: 'linearicons-platter', text: 'Meal'},
						{icon: 'linearicons-clock3', text: '5 Days'},
						{icon: 'linearicons-plane', text: 'Flight'}
					]
				})


			.col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay=".9s")
				+box-creative({
					img: 'tour-9-370x284',
					title: 'Discover Japan',
					price: '1500.00',
					oldPrice: '1655.00',
					text: 'Musa de bassus elogium, convertam gemna! Cum xiphias mori, omnes eposes imitari gratis, nobilis amicitiaes!',
					link: 'single-tour.html',
					lists: [
						{icon: 'linearicons-platter', text: 'Meal'},
						{icon: 'linearicons-clock3', text: '5 Days'},
						{icon: 'linearicons-plane', text: 'Flight'}
					]
				})
