section.section.section-md.bg-default
	.container
		h2 Start your journey!
		.row.row-40.offset-lg
			.col-xl-6.wow.fadeInLeft
				p Let us curate an inspiring experience as you enjoy a personally-themed adventure with a professional guide catered to your interests. Whether a one-day trip or multi-trip journey, you’ll be privileged to enjoy this ultimate luxury to explore Europe with an expert, as well as the unique bird’s eye views from a helicopter in Europe, including Rome, the Dalmation Coast, Paris, Prague and 20 top destinations.
			.col-xl-3.col-sm-6.wow.fadeInUp
				ul.list-marked
					li First-class flights
					li 5-star accommodation
					li All-inclusive packages
					li Car hire
					li Handpicked hotels
			.col-xl-3.col-sm-6.wow.fadeInUp
				ul.list-marked
					li Leisure travel
					li Travel insurance
					li Emergency services
					li Incentive programs
					li Visas

