section.section.section-lg.bg-image-6
	.container
		h2.text-center.text-md-start Meet Our Team
	.creative-bg
		.container
			.row.row-30.justify-content-center
				.col-lg-4.col-sm-6.wow.fadeInUp(data-wow-delay=".1s")
					.team-member-box
						.team-member-box__media
							+img('team-member-1-370x510')
						.team-member-box__caption
							h5: a(href="#") Sophie Robbins
							span.subtitle Travel Agent
							ul.social-list
								li: a(href="#"): span.icon.fa.fa-facebook
								li: a(href="#"): span.icon.fa.fa-twitter
								li: a(href="#"): span.icon.fa.fa-instagram
								li: a(href="#"): span.icon.fa.fa-pinterest
				.col-lg-4.col-sm-6.wow.fadeInUp(data-wow-delay=".3s")
					.team-member-box
						.team-member-box__media
							+img('team-member-2-370x510')
						.team-member-box__caption
							h5: a(href="#") Ted Howells
							span.subtitle Tour Guide
							ul.social-list
								li: a(href="#"): span.icon.fa.fa-facebook
								li: a(href="#"): span.icon.fa.fa-twitter
								li: a(href="#"): span.icon.fa.fa-instagram
								li: a(href="#"): span.icon.fa.fa-pinterest
				.col-lg-4.col-sm-6.wow.fadeInUp(data-wow-delay=".3s")
					.team-member-box
						.team-member-box__media
							+img('team-member-3-370x510')
						.team-member-box__caption
							h5: a(href="#") Janette Brooks
							span.subtitle Travel Visa Specialist
							ul.social-list
								li: a(href="#"): span.icon.fa.fa-facebook
								li: a(href="#"): span.icon.fa.fa-twitter
								li: a(href="#"): span.icon.fa.fa-instagram
								li: a(href="#"): span.icon.fa.fa-pinterest