section.section.section-lg.bg-default
	.container
		h2 What You Get with Us
		.row.row-30.offset-lg
			.col-xl-3.col-md-4.col-sm-6.wow.fadeInUp(data-wow-delay=".1s")
				+value-box({
					icon: 'linearicons-umbrella2',
					title: 'Daily Tours',
					text: 'Cras eget vehicula metus, et lacinia nunc. Maecenas facilisis, orciut gravida posuer'
				})
			.col-xl-3.col-md-4.col-sm-6.wow.fadeInUp(data-wow-delay=".2s")
				+value-box({
					icon: 'linearicons-boat',
					title: 'Cruises',
					text: 'Bassus hippotoxota grauiter quaestios finis est. Castor de regius verpa, convertam orgia! '
				})
			.col-xl-3.col-md-4.col-sm-6.wow.fadeInUp(data-wow-delay=".3s")
				+value-box({
					icon: 'linearicons-car',
					title: 'Epic journeys',
					text: 'Hercle, nuptia azureus!, orexis! Cum ventus potus, omnes exsules promissio magnum.'
				})
			.col-xl-3.col-md-4.col-sm-6.wow.fadeInUp(data-wow-delay=".4s")
				+value-box({
					icon: 'linearicons-luggage-weight',
					title: 'NEW DESTINATIONS',
					text: 'Vae, plasmator! Teres, brevis guttuss etiam contactus de neuter, fortis gabalium!'
				})

			.col-xl-3.col-md-4.col-sm-6.wow.fadeInUp(data-wow-delay=".5s")
				+value-box({
					icon: 'linearicons-bicycle',
					title: 'CYCLING TRIPS',
					text: 'Scutum brevis silva est. Alter, bassus fermiums sensim anhelare de barbatus, castus tabes. '
				})
			.col-xl-3.col-md-4.col-sm-6.wow.fadeInUp(data-wow-delay=".6s")
				+value-box({
					icon: 'linearicons-lifebuoy',
					title: '24/7 ONLINE SUPPORT',
					text: 'Velum acceleratrix ducunt ad velox visus. Observare solite ducunt ad fortis ionicis tormento. '
				})
			.col-xl-3.col-md-4.col-sm-6.wow.fadeInUp(data-wow-delay=".7s")
				+value-box({
					icon: 'linearicons-landscape',
					title: 'ECO LODGES & TOURS',
					text: 'Heu, ferox classis! Fortis, varius candidatuss mechanice tractare de placidus, grandis absolutio.'
				})
			.col-xl-3.col-md-4.col-sm-6.wow.fadeInUp(data-wow-delay=".8s")
				+value-box({
					icon: 'linearicons-road',
					title: 'BUS TOURS',
					text: 'A falsis, adiurator velox idoleum. Placidus, ferox lunas sensim fallere de fatalis, germanus rector!'
				})

