section.section.section-lg
	.container
		h2.text-center.text-md-start Recent Facts About Our Tour Agency
		ul.step-list.row.offset-lg.row-30
			li.col-lg-3.col-sm-6
				span.icon.linearicons-walk
				.divider-step
				+counter({
					title: 'happy customers',
					value: 3241
				})
			li.col-lg-3.col-sm-6
				span.icon.linearicons-plane
				.divider-step
				+counter({
					title: 'Flights',
					value: 787
				})
			li.col-lg-3.col-sm-6
				span.icon.linearicons-apartment
				.divider-step
				+counter({
					title: 'Hotels to stay',
					value: 1203
				})
			li.col-lg-3.col-sm-6
				span.icon.linearicons-ship
				.divider-step
				+counter({
					title: 'Awesome Tours',
					value: 9874
				})
