section.section.swiper-container.swiper-slider.swiper-slider-1( data-autoplay='5000' data-swiper!={
	simulateTouch: false,
	speed: 500
})
	.swiper-wrapper.text-center
		.swiper-slide.context-dark(data-slide-bg='images/slider-1-slide-1.jpg')
			.swiper-slide-caption.section-md
				.container
					.row.justify-content-lg-center
						.col-lg-8
							.intro-box
								.intro-box__floating-text Journey
								.intro-box__title
									span(data-caption-animate='fadeInUp' data-caption-delay='200') Exploring
									span(data-caption-animate='fadeInUp' data-caption-delay='300') the world
								.intro-box__video(data-caption-animate='fadeInUp' data-caption-delay='400')
									a(href="https://www.youtube.com/watch?v=7dTve2Hsl_0" data-lightgallery="item") Watch the video
		.swiper-slide.context-dark(data-slide-bg='images/slider-1-slide-2.jpg')
			.swiper-slide-caption.section-md
				.container
					.row.justify-content-lg-center
						.col-lg-8
							.intro-box
								.intro-box__floating-text Journey
								.intro-box__title
									span(data-caption-animate='fadeInUp' data-caption-delay='200') Best
									span(data-caption-animate='fadeInUp' data-caption-delay='300') Destinations
								.intro-box__video(data-caption-animate='fadeInUp' data-caption-delay='400')
									a(href="https://www.youtube.com/watch?v=7dTve2Hsl_0" data-lightgallery="item") Watch the video
		.swiper-slide.context-dark(data-slide-bg='images/slider-1-slide-3.jpg')
			.swiper-slide-caption.section-md
				.container
					.row.justify-content-lg-center
						.col-lg-8
							.intro-box
								.intro-box__floating-text Journey
								.intro-box__title
									span(data-caption-animate='fadeInUp' data-caption-delay='200') Memorable
									span(data-caption-animate='fadeInUp' data-caption-delay='300') Experiences
								.intro-box__video(data-caption-animate='fadeInUp' data-caption-delay='400')
									a(href="https://www.youtube.com/watch?v=7dTve2Hsl_0" data-lightgallery="item") Watch the video

	//Swiper Pagination
	.swiper-pagination

	//Swiper Navigation
	.swiper-button-prev.fa-arrow-left
	.swiper-button-next.fa-arrow-right


