section.section.section-lg.bg-image-8
	.container
		h2.text-center.text-sm-start What We Offer
		.row.row-40.offset-lg
			.col-lg-4.col-sm-6
				+card-classic({
					img: 'service-1-370x389',
					title: 'Mountain Tours',
					caption: 'Is mountaineering in your blood? Get a tour to Andes or Himalayas.'
				})
			.col-lg-4.col-sm-6
				+card-classic({
					img: 'service-2-370x389',
					title: 'HONEYMOON TOURS',
					caption: 'Spend your first days as a married couple at any place all over the world.'
				})
			.col-lg-4.col-sm-6
				+card-classic({
					img: 'service-3-370x389',
					title: 'SEA TOURS',
					caption: 'Bath in any ocean thanks to the line of special exotic water tours.'
				})
			.col-lg-4.col-sm-6
				+card-classic({
					img: 'service-4-370x389',
					title: 'CRUISES ',
					caption: 'A cruise liner will provide you with all your special needs throughout your journey.'
				})
			.col-lg-4.col-sm-6
				+card-classic({
					img: 'service-5-370x389',
					title: 'SAFARI TOURS',
					caption: 'Enjoy the best safari tours and get an unforgettable experience with us.'
				})
			.col-lg-4.col-sm-6
				+card-classic({
					img: 'service-6-370x389',
					title: 'Gourmet tours',
					caption: 'Are you a gourmet? Then you should definitely check out one of our food routes!'
				})
