section.section.section-lg.bg-image-9
	.container
		.row
			.col-lg-8.creative-bg-2
				h4.font-lg.text-transform-none Weekend tour in Switzerland, Davos
				.group-sm.price-group
					span.price-group__sale $1625.00
					span.price-group__price-old $1925.00
				p.text-dark-gray.offset-xl Zirbuss accelerare! Cum pars studere, omnes zeluses acquirere neuter, fatalis habitioes. Mori callide ducunt ad domesticus luba. Cum messor crescere, omnes tabeses examinare camerarius, superbus animalises. Torus, demolitione, et domus. Pol. Assimilatio manducares, tanquam gratis solitudo. Onus albus rumor est.
