section.section.section-lg.bg-default
	.container
		h2.text-center.text-md-start French Autumn
		.row.row-30.offset-lg
			.col-xl-5
				+img('single-tour-1-470x464')
			.col-xl-7
				.single-service__caption
					.heading-4.text-xl French Autumn
					.price-group
						span.price-group__sale $1625.00
						span.price-group__price-old $1925.00
					p If you love food and wine, you’ll love France. The bread alone is reason enough to visit. Paris is a must-see if you love art, architecture, wide avenues and historic monuments. And of course, if you want to set eyes on the glittering Eiffel Tower. Taste the magic of Autumn in Paris!
					ul.icon-list
						li
							span.icon.linearicons-calendar-full
							span 10 May to 13 May
						li
							span.icon.linearicons-user
							span 2 Adults + 1 Child
						li
							span.icon.linearicons-star
							span Economy Class
		.row
			.col-xl-11
				#tabs-1.tabs-custom.tabs-corporate.tab-style-1
					//Nav tabs
					ul.nav.nav-style-1.nav-custom
						li.nav-item(role='presentation'): a.nav-link.active(href='#tabs-1-1' data-bs-toggle='tab')
							span.icon.linearicons-menu
							| Information
						li.nav-item(role='presentation'): a.nav-link(href='#tabs-1-2' data-bs-toggle='tab')
							span.icon.linearicons-plane
							| TRAVEL PLAN
						li.nav-item(role='presentation'): a.nav-link(href='#tabs-1-3' data-bs-toggle='tab')
							span.icon.linearicons-picture3
							| OUR GALLERY

					//Tab panes
					.tab-content
						div#tabs-1-1.tab-pane.fade.active.show
							p.fw-sbold Parma noceres, tanquam varius guttus. Cum hippotoxota observare, omnes uriaes promissio camerarius, superbus devatioes.
							p Ubi est magnum devirginato? Cur fiscina unda? Nunquam talem torus. Domesticus animalis foris imperiums bulla est. Zelus, compater, et habena. Sunt fermiumes imperium noster, brevis stellaes. Heu. Nunquam consumere parma. Lixas cadunt in culina! Nunquam promissio genetrix. Assimilant aegre ducunt ad talis resistentia. A falsis, lacta alter agripeta. Advena de primus lamia, desiderium bubo! Lactea undas, tanquam audax accentor. Eheu, plasmator! Lanistas mori! Pol, a bene boreas, rumor! Mensas messis! Lunas messis in lutetia! Cum habena mori, omnes galataees amor azureus, alter cliniases. Neuter, bassus zeluss aliquando transferre de bi-color, lotus axona.

						div#tabs-1-2.tab-pane.fade
							p.fw-sbold Cur finis favere? A falsis, candidatus flavum hippotoxota. Regius, gratis messors cito imperium de salvus, emeritis resistentia.
							p Velox habitio mechanice convertams amor est. Tuss velum in tectum! Abaculus noster secula est. Victrix de salvus secula, imitari cursus! Credere recte ducunt ad varius gemna. Zirbus potuss, tanquam raptus onus. Eheu, secundus pulchritudine! Ignigena germanus mortem est. Sunt abactores contactus grandis, bassus fiscinaes. Messis diligenter ducunt ad regius hilotae. A falsis, ratione pius resistentia. Historia magnum accola est. Ubi est ferox zelus? Brevis cobaltums ducunt ad domus. Sunt tuses examinare grandis, fatalis calcariaes. Index de bi-color elogium, manifestum adelphis! Fidelis, salvus dominas inciviliter imperium de rusticus, ferox idoleum.

						div#tabs-1-3.tab-pane.fade
							.row.row-10.row-narrow-10.text-center(data-lightgallery="group")
								.col-lg-4.col-sm-6
									a.gallery-link(href="images/grid-gallery-1-1200x800-original.jpg" data-lightgallery="item")
										+img('grid-gallery-1-370x250')
								.col-lg-4.col-sm-6
									a.gallery-link(href="images/grid-gallery-2-1200x800-original.jpg" data-lightgallery="item")
										+img('grid-gallery-2-370x250')
								.col-lg-4.col-sm-6
									a.gallery-link(href="images/grid-gallery-3-1200x800-original.jpg" data-lightgallery="item")
										+img('grid-gallery-3-370x250')
								.col-lg-4.col-sm-6
									a.gallery-link(href="images/grid-gallery-4-1200x800-original.jpg" data-lightgallery="item")
										+img('grid-gallery-4-370x250')
								.col-lg-4.col-sm-6
									a.gallery-link(href="images/grid-gallery-5-1200x800-original.jpg" data-lightgallery="item")
										+img('grid-gallery-5-370x250')
								.col-lg-4.col-sm-6
									a.gallery-link(href="images/grid-gallery-6-1200x800-original.jpg" data-lightgallery="item")
										+img('grid-gallery-6-370x250')

