section.section.section-lg.bg-image-3
	.creative-bg
		.container
			.row.row-30.justify-content-center(data-lightgallery="group")
				.d-flex.col-sm-6.col-lg-4.ordex-xl-1.order-1.wow.fadeInLeft
					a.info-box-classic(href="images/home-gallery-1-1200x800-original.jpg" data-lightgallery="item")
						+img('home-gallery-1-370x510')
						.info-box-classic__description
							.heading-4 Canada
							span from
							span.price $540
				.col-sm-12.col-lg-4.order-3.order-xl-2
					.row.row-30
						.col-lg-12.col-sm-6.wow.fadeInUp(data-wow-delay=".2s")
							a.info-box-classic(href="images/home-gallery-2-1200x800-original.jpg" data-lightgallery="item")
								+img('home-gallery-2-370x240')
								.info-box-classic__description
									.heading-4 India
									span from
									span.price $330
						.col-lg-12.col-sm-6.wow.fadeInUp(data-wow-delay=".3s")
							a.info-box-classic(href="images/home-gallery-3-1200x800-original.jpg" data-lightgallery="item")
								+img('home-gallery-3-370x240')
								.info-box-classic__description
									.heading-4 China
									span from
									span.price $500
				.d-flex.col-sm-6.col-lg-4.ordex-xl-3.order-md-2.wow.fadeInRight(data-wow-delay=".4s")
					a.info-box-classic(href="images/home-gallery-4-1200x800-original.jpg" data-lightgallery="item")
						+img('home-gallery-4-370x510')
						.info-box-classic__description
							.heading-4 Paris
							span from
							span.price $720


